@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}


.site {
    max-width: 1680px;
    border: 1px solid;
    margin: 0 auto;
    background: #f6f6f6;

}

.loader-body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    z-index: 9999;
}

.loader {
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF3D00;
    letter-spacing: 2px;
    position: relative;
    bottom: 70px;
}

.loader::after {
    content: 'Loading';
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader 4s ease-in infinite;
}

@keyframes animloader {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.allert {
    width: 200px;
    height: 80px;
    background: white;
    border-radius: 30px;
    position: absolute;
    top: 30px;
    font-family: Inter;
    right: 43%;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: 600;
    color: #FF7010;
    z-index: 1000000;
    display: none;
    letter-spacing: 3px;
}

.container {
    padding: 10px 10%;
}

header {
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: #fff;
}

nav .nav-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-top p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #191919;
}

.nav-top p select {
    border: none;
    width: 100px;
    padding: 10px;

}

.nav-top p span {
    font-weight: 800;
}

.nav-top p i {
    font-size: 20px;
    color: #FF7010;
}

.nav-time {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-time a i {
    font-size: 20px;
    color: #FF7010;
    padding-right: 10px;
}

.nav-time a {
    color: #191919;
}

.nav-time .my {
    display: none;
    position: relative;
}

/* ====myaccount */

.my-acco {
    width: 285px;
    height: 206px;
    background: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    right: 5%;
    padding: 20px 30px;
    box-shadow: 0 0 10px gray;
    z-index: 1000;
    display: none;
}

.my-acco a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #191919;
    padding-bottom: 10px;
}

.my-acco a:nth-of-type(1) {
    color: #FF7010;
    padding-bottom: 20px;
}

.my-acco a:nth-of-type(4) {
    color: #A5A5A5;
    padding-top: 20px;
}




/* ==line ====================================*/
.line {
    width: 100%;
    height: 1px;
    background: #F0F0F0;
    /* background: #191919;
    opacity: .1; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    backdrop-filter: blur(8px);
    z-index: 100;

}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo h3 {
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}

/* =====items =======================================*/
.items {

    display: flex;
    align-items: center;
    gap: 30px;
    opacity: 0;
    transition: .5s ease-in-out;
    /* display: none; */

}

.items .link-item a {
    color: #191919;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}

.items .link-item a:hover::before {
    width: 100%;
}

.items .link-item a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

.items .link-item i {
    color: #191919;
    padding-left: 10px;

}

.items .link-item-drug {
    position: relative;
    cursor: pointer;
}

/* ===== drugoe=========================*/

.drugoe {
    position: absolute;
    top: 50px;
    left: -80%;
    width: 285px;
    height: 334px;
    border: 1px solid #d7d7d7;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px gray;
    z-index: 100;
    display: none;
    cursor: pointer;
}

.drugoe li {
    padding: 8px 0;
}

.drugoe li a {
    color: #191919;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.drugoe li a:hover::before {
    width: 100%;
}

.drugoe li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

/* ===== ==========================*/
.navbar .logotip {
    background: #FF7010;
    padding: 8px 16px;
    border-radius: 4px;

}

.navbar .logotip a {
    color: #fff;
    font-size: 16px;
}

.navbar .logotip a span {
    font-size: 18px;
    padding-left: 10px;

}



/* ==== bars ==========================*/

.bars {
    border: none;
    background: none;
    display: none;
}

.bar1 {
    display: block;
    width: 35px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    display: block;
    width: 35px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar3 {
    display: block;
    width: 25px;
    height: 2px;
    background: #191919;
    border-radius: 5px;
    margin: 6px 0;
}

.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(9px, 3px); */
    transform: rotate(-50deg) translate(-8px, 6px);
    /* transform-origin:top left; */

}

.change .bar2 {
    /* -webkit-transform: rotate(45deg) translate(2px, 2px); */
    transform: rotate(50deg) translate(2px, 2px);
    /* transform-origin: bottom left; */
}

.change .bar3 {
    opacity: 0;
}

/* ===== menu ================================*/

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #F0F0F0;
    background: #FFFFFF;
    display: none;
    z-index: 1000;

}

.menu .user {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: #000000;
    z-index: 1000;
}

.menu .user i {
    font-size: 24px;
    color: #FF7010;
    padding-right: 20px;
}

.menu .my {
    display: block;
    padding: 20px 30px;
    font-size: 16px;
    color: #000000;
    display: none;
    position: relative;
}

.menu .my i {
    font-size: 24px;
    color: #FF7010;
    padding-right: 20px;
}

.menu .my-acco {
    width: 285px;
    height: 206px;
    background: #F0F0F0;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 5%;
    padding: 20px 30px;
    box-shadow: 0 0 10px gray;
    z-index: 10000;
    /* display: none; */
}

.my-acco a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #191919;
    padding-bottom: 10px;
}

.my-acco a:nth-of-type(1) {
    color: #FF7010;
    padding-bottom: 20px;
}

.my-acco a:nth-of-type(4) {
    color: #A5A5A5;
    padding-top: 20px;
}

.menu .menu-box {
    padding: 20px 30px;
    border: 1px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu .menu-box li a {
    font-size: 16px;
    color: #000000;
    position: relative;
}

.menu .menu-box li a:hover::before {
    width: 100%;

}

.menu .menu-box li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #FF7010;
    transition: .5s ease-in-out;
}

.menu .menu-info {
    padding: 20px 0;
}

.menu-info p {
    padding: 10px 30px;
    font-size: 16px;
    color: #191919;
}

.menu-info p i {
    font-size: 20px;
    color: #FF7010;
    padding-right: 10px;
}

.menu-info p .fa-instagram {
    padding-left: 20px;
}

.menu span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 20px 0;
    border-top: 1px solid #F0F0F0;
}

.close {
    display: block;

}

/* ===hero====== ===========================*/

.hero {
    padding: 30px 10%;

}

.hero .hero-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.hero .hero-menu div {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 135px;
}

.hero .hero-menu div:hover img,
.hero .hero-menu div:hover a {
    transform: scale(1.1);
}

.hero .hero-menu .active a {
    color: #E23535;
}

.hero .hero-menu div a {
    display: block;
    font-size: 18px;
    padding-top: 10px;
    color: #000000;
    transition: .3s ease-in-out;
}

.hero .hero-menu div img {
    transition: .3s ease-in-out;
}

.pic-menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 50px 0;
    overflow-x: scroll;
    scrollbar-width: none;

}

.pic-menu .pic-box {
    width: 300px;
    height: 343px;
    border-radius: 10px;
    position: relative;
}

.pic-menu .pic-box img {
    width: 300px;
}

.pic-menu .pic-box p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}

/* == account ===============================*/

.about {
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    height: 1605vh;
    background: #1919193d;
    backdrop-filter: blur(8px);
    z-index: 10000;
    display: none;
    /* opacity: 0; */

}

.about>div {
    margin: 200px auto;
    width: 50%;
    border-radius: 24px;
    background: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}

.about div .fa-xmark {
    position: absolute;
    top: -5%;
    right: -10%;
    font-size: 40px;
    color: #fff;
}

.about div h2 {
    font-size: 32px;
    font-weight: 600;
    color: #191919;
}

.about div h4 {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    text-align: center;
}

.about div span {
    font-size: 14px;
    font-weight: 400;
    color: #A5A5A5;
    text-align: left;
}

.about div input {
    width: 45%;
    height: 48px;
    border-radius: 6px;
    outline-color: dodgerblue;
    border: 1px solid #e2e2e2;
    padding: 10px 20px;
}

.about div a {
    display: block;
    width: 45%;
    height: 48px;
    border-radius: 6px;
    background: #FF7010;
    border: none;
    padding: 13px 40px;
    color: #fff;
    text-align: center;
}

.about div p {
    font-size: 14px;
    font-weight: 400;
    color: #191919;
    text-align: center;
    line-height: 18px;
}

.close {
    display: block;
}

.open {
    display: none;
}


/* ===kod ===========================*/

.kod {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #00000098;
    backdrop-filter: blur(8px);
    display: none;
    z-index: 100000;
}


.kod div {
    width: 50%;
    border-radius: 24px;
    background: #F9F9F9;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    margin: 200px auto;

}

.kod div .fa-xmark {
    position: absolute;
    top: -5%;
    right: -10%;
    font-size: 40px;
    color: #fff;
}

.kod div h2 {
    font-size: 32px;
    font-weight: 600;
    color: #191919;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
}

.kod input {
    min-width: 200px;
    height: 48px;
    border-radius: 6px;
    padding: 10px 18px;
    outline-color: dodgerblue;
    border: 1px solid #e2e2e2;

}

.vhod {
    width: 30%;
    display: block;
    height: 48px;
    border-radius: 6px;
    background: #FF7010;
    border: none;
    padding: 13px 20px;
    color: #fff;
    text-align: center;
}

.kod div p span {
    color: #A5A5A5;
}

.kod .qayta {
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 1px solid #FF7010;
    color: #FF7010;
    font-size: 16px;
    display: none;
}


.products .product1 {
    display: flex;
    gap: 40px;
    margin-top: 40px;

}

.pizza-text-two {
    margin: 30px 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;

}

.products .products-item {
    width: 320px;
    height: 500px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.products-item h2 {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

}

.products-item p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;

}

.products-item .products-item_text {
    padding-left: 20px;
    margin: 10px 0px;
}

.products-item h2 {
    margin-bottom: 17px;
}

.products-item p {
    margin-bottom: 10px;
}

.brain {
    padding: 25px 0px 0px;
}

.products-item img {
    width: 310px;

}

.pizza-text {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
}

.food-mental {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;

}

.products-item .btn_group {
    display: flex;
    gap: 50px;
    margin: 30px 0px 0px !important;
}

.padding {
    margin: 50px 0px 0px;
}

.margin-top {
    margin: 0px 0px 0px;
}

.text-import {
    /* margin: 30px 0px 0px !important; */
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;

}

.products-item .btn_group button {
    padding: 15px 40px;
    border-radius: 7px;
    border: none;
    background: #FF7010;
    color: #F0F0F0;
    margin-bottom: 35px;
    cursor: pointer;

}

.products-item .btn_group h3 {
    margin-top: 10px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: right;

}

.desert {
    margin: 50px 0px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;

}

.new-pizza {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 50px 0px;
    text-align: left;

}

.new-pizza-item {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    margin: 50px 0px;

}

.top-map {
    width: 60%;
    justify-content: center;
    text-align: left;
    margin: auto;

}

.footer_top h1 {
    margin-bottom: 10px;
}

footer {
    background: white;
    display: flex;
    gap: 100px;
    /* padding-bottom: 200px; */
}

footer .container {
    display: flex;
    gap: 100px;
}

footer .logo_info {
    padding-top: 40px;
    width: 270px;
    height: 220px;
}

.link {
    cursor: pointer;
}

.text_footer {
    width: 100%;
}

footer .logo_info p {
    padding-top: 85px;
}



footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

footer ul p {
    font-size: 20px;
    font-weight: 600;
}

footer ul li {
    color: #191919;

}

.link {
    margin: 40px 0px;

}

footer ul .links {
    display: flex;
    gap: 8px;
}

footer .info {
    display: flex;
    gap: 100px;
    margin-top: 50px;
}

.logo_info .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
}













/* =============================================== */

@media (max-width:1550px) {
    .product1 {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }
}

@media(max-width:1300px) {
    .container {
        padding: 20px 3%;

    }
    .navbar{
        width: 100%;
    }
}



@media(max-width:1100px) {
    .nav-top {
        width: 100%;
        justify-content: space-between;
    }

    .nav-top p:nth-of-type(2) {
        display: none;
    }

    .nav-time {
        display: none;
    }

    .navbar .logotip {
        display: none;
    }

    .items {
        display: none;
    }

    .bars {
        display: block;
        z-index: 1000;
    }

    .hero .hero-menu div {
        display: flex;
        gap: 10px;
    }
  
    

}



/* ================= */
@media(max-width:1220px) {
    footer .display-flex {
        flex-direction: column !important;
        gap: 0px;
        text-align: center;
        margin: auto;
    }

    .logo_info img {
        text-align: center !important;
        margin: auto !important;
    }

    .logo_info h3 {
        text-align: center !important;
        margin: auto !important;
    }

    .logo {
        gap: 10px !important;
    }

    .info ul .links {
        text-align: center !important;
        margin: auto;
    }
}

@media(max-width:910px) {
    .info {
        flex-wrap: wrap !important;
        justify-content: center;
    }
}